<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> О сайте {{ app.config.site.name }} </title>
  {{ publishCss() }}
</head>
<body>


<p>
  <strong>Дравья-гуна (ДГ)</strong>, дравья - в-во.<br>
  <cite>Ни одно из в-в в мире не может быть не лекарственным.<br> Все можно использовать как лек-во, если знаем гуны.</cite><br>

Использ. яды (аконит), тяжелые металлы.
  <strong>Гуна</strong> - св-во/качество и действие (в-ва). Гуна определяет карму. Нет действия без св-ва. Рукшана - рукша, снехана - снеха (осушить - увлажнить). Гуна - применение/использование, эффект (рез-т).
Гуна-карма-прайога (св-ва, дейстие и использование) - все это относится к гуне. ДГ - св-во, действие и использование в-в.
</p>

{% block content %}
{% endblock %}
{{ publishJs() }}
</body>
</html>